/* Sits on top of turret.css */

.content {
  max-width: 90%;
  margin: auto;
}

@media only screen and (min-width: 750px) {
  .content {
    max-width: 675px;
    margin: auto;
  }  
}

header {
  color: #ffffff;
  background-color: #11a7a7;
  text-align: center;
  padding-bottom: 1em;
}

header h1 {
  font-size: 5em;
  font: outline;
  font-weight: 200;
  margin-top: 0%;
}

header nav { 
  color: #ffffff;
  text-align: right;
  padding-top: 1em;
  padding-right: 1em;
}

section {
  margin-top: 2em;
}

h1, h2 {
  font-weight: 400;
}

section nav ul { text-align: center; }
section nav ul li { display: inline-block; }

.question {
  font-weight: 800
}



footer {
  color: #777777;
  background-color: #dddddd;
  margin-bottom: 20px;
  padding: 20px 0 20px;
  text-align: center;
  font: 9em;
}

footer p {
  margin: 0;
}