/*Global*/

p {
    font-size: 18px;
    line-height: 27px;
    color: #364654;
    padding-bottom: 14px;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    color: #141a1f;
}

h1,
h2,
h3 {
    margin: 0;
}

h2 {
    font-size: 48px;
    padding-bottom: 36px;
    font-weight: 200;
}

h3 {
    font-weight: 600;
    padding-bottom: 18px;
}

a {
    text-decoration: underline;
    color: #208fe9;
}

a:hover {
    /*text-decoration: none;*/
    color: #45a1ed;
}

img {
    background-color: transparent !important;
}

.btn-primary {
    border-radius: 8px;
    padding: 12px 24px;
    margin: 24px 0;
    background-color: #7161ca;
    border: none;
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
}

.btn-primary:hover,
.btn-primary:active {
    border: none;
    background-color: #5348bc;
}

/* Header */

.navbar {
    position: absolute;
    min-width: 100%;
    z-index: 3;
    min-height: 50px;
}

.nav > li > a {
    font-size: 12px;
    color: white;
    font-weight: 600;
}

.nav > li > a:hover {
    color: rgba(255, 255, 255, .8);
}

.navbar-default .navbar-nav > li > a {
    text-decoration: none;
}

.current {
    text-decoration: underline !important;
    pointer-events: none;
    cursor: default;
}

/* Hero section */

.hero-strip {
    /*background-image: linear-gradient(45deg, #0a1855 0, #00dac6 100%);*/
    background-color: #11a7a7;
    padding: 120px 0 0px;
}

.hero-strip h1 {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    letter-spacing: -1px;
    margin: 0;
}

.hero-strip p {
    color: #ffffff;
    font-weight: 200;
    font-size: 24px;
    margin-bottom: 60px;
    padding-bottom: 0;
}

/*Terminal*/
.terminal-window {
    text-align: left;
    width: 600px;
    height: 360px;
    border-radius: 10px;
    margin: auto;
    position: relative;
    margin-bottom: -40px;
    z-index: 2;
    /*box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);*/
    -webkit-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -mox-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.terminal-window header {
    background: #E0E8F0;
    height: 30px;
    border-radius: 8px 8px 0 0;
    padding-left: 10px;
}

.terminal-window header .button {
    width: 12px;
    height: 12px;
    margin: 10px 4px 0 0;
    display: inline-block;
    border-radius: 8px;
}

.terminal-window header .button.green {
    background: #3BB662;
}

.terminal-window header .button.yellow {
    background: #E5C30F;
}

.terminal-window header .button.red {
    background: #E75448;
}

.terminal-window section.terminal {
    color: white;
    font-family: Menlo, Monaco, "Consolas", "Courier New", "Courier";
    font-size: 11pt;
    background: #30353A;
    padding: 10px;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    top: 30px;
    bottom: 0;
    overflow: auto;
}

.terminal-window section.terminal .typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.terminal-data {
    display: none;
}

.terminal-window .gray {
    color: gray;
}

.terminal-window .green {
    color: green;
}

/*Sections*/

#intro {
    /*background-image: linear-gradient(to bottom right, #062433, #1b4960, #447b84);*/
    background-color: #f3f4f7;
}

.intro-icon {
    display: inline-block;
    vertical-align: top;
    padding: 0;
    margin-right: 20px;
    width: 40px;
}

#intro span.icon {
    font-size: 40px;
    color: #11a7a7;
}

#intro h4 {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
    margin: 0 0 12px;
}

#intro p {
    font-size: 15px;
    line-height: 24px;
    padding: 0;
    margin: 0;
}

#mission {
    background-color: #f3f4f7;
}

.section-gray {
    background-color: #f3f4f7;
    padding: 60px 0 120px;
    border-top: 1px solid #E6EBEF;
}

.section-gray .intro-icon {
    width: 120px;
    height: 120px;
    padding: 0;
    margin-right: 0;
    border-radius: 100%;
    background-color: white;
    box-shadow: 0 6px 6px rgba(50, 50, 93, .11), 0 1px 4px rgba(0, 0, 0, .08);
    margin-top: -120px;
    border: solid 2px #11a7a7;
}

.section-gray span.icon {
    font-size: 60px;
    line-height: 120px;
    color: #11a7a7;
    font-weight: bold;
}

.section-a {
    background-color: white;
}

/*Footer*/

footer {
    background-color: #f3f4f7;
}

footer p {
    font-size: 15px;
    line-height: 15px;
    padding: 0;
    margin: 0;
    color: #839baf;
}

.footer-content {
    padding: 24px 0;
}

/* Rabix section */

#rabix img, #mission img {
    width: 100%;
    margin-bottom: 18px;
    box-shadow: 0 6px 6px rgba(50, 50, 93, .20), 0 1px 4px rgba(0, 0, 0, .10);
}

#rabix h3 a {
    text-decoration: none;
}

/*--Mobile--*/

@media screen and (max-width: 480px) {
    .terminal-window {
        width: 100%;
        height: 260px;
        overflow: visible;
    }

    .history {
        white-space: pre-wrap; /* css-3 */
        white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
        white-space: -pre-wrap; /* Opera 4-6 */
        white-space: -o-pre-wrap; /* Opera 7 */
        word-wrap: break-word; /* Internet Explorer 5.5+ */
    }
}

/*--Launch Page--*/

.launch-hero {
    padding-bottom: 60px;
}

.launch-hero p {
    line-height: 1.4;
}

#launch li {
    font-weight: 400;
}

#rabix-composer {
    padding-bottom: 60px;
}

#rabix-executor {
    padding-top: 60px;
}

#rabix-composer h2, #rabix-executor h2 {
    padding-bottom: 10px;
}

#rabix-composer ul {
    list-style: none;
    padding: 0;
    font-size: 18px;
}

#rabix-composer ul li {
    margin: 20px 0;
}

#launch video {
    max-width: 100%;
    box-shadow: 0 6px 6px rgba(50, 50, 93, .20), 0 1px 4px rgba(0, 0, 0, .10);
    margin-bottom: 10px;
}

#launch img {
    max-width: 100%;
    box-shadow: 0 6px 6px rgba(50, 50, 93, .20), 0 1px 4px rgba(0, 0, 0, .10);
    margin-bottom: 18px;
}

#rabix-executor ul {
    padding-left: 20px;
    font-size: 18px;
}

#launch input, #launch textarea {
    width: 100%;
    max-width: 100%;
    border: solid 2px #11a7a7;
    padding: 8px;
    /*box-shadow: 0 4px 4px rgba(50, 50, 93, .11), 0 1px 2px rgba(0, 0, 0, .08);*/
    background-color: white;
}

#launch input:focus, #launch textarea:focus {
    outline-color: #208fe9;
    outline-width: 4px;
    box-shadow: none;
}

#launch input[type="submit"] {
    margin-top: 24px;
    transition: all .4s;
    color: white;
    background: #208fe9;
    font-weight: 400;
    width: 40%;
    float: right;
    border: none;
}

#launch input[type="submit"]:hover {
    box-shadow: 0 6px 12px rgba(50, 50, 93, .11), 0 1px 4px rgba(0, 0, 0, .08);
    background: #45a1ed;
    transition: all .4s;
}

#launch label {
    margin-top: 24px;
    font-size: 18px;
    font-weight: 400;
    color: #666666;
}

#launch .submitted-message {
    background-color: white;
    border: solid 2px rgba(113, 97, 202, 0.6);
    box-shadow: 0 12px 24px rgba(50, 50, 93, .11), 0 1px 4px rgba(0, 0, 0, .08);
    text-align: center;
    padding: 24px;
    font-size: 18px;
    font-weight: 400;
}

.asterisk {
    color: #CC4214;
}

#mc_embed_signup div.mce_inline_error {
    background-color: #CC4214 !important;
}

#mc_embed_signup input.mce_inline_error {
    border-color: #CC4214 !important;
}

#mce-success-response {
    background: #ffffff;
    padding: 15px;
    color: #11a743;
    border: 2px solid #11a743;
}

.download-links {
    margin-top: 45px;
}

.download {
    transition: all .4s;
    color: white;
    background-color: #208fe9;
    font-weight: 200;
    padding: 16px;
    margin: 15px;
    text-decoration: none;
    font-weight: 400;
}

.download:hover {
    color: white;
    box-shadow: 0 6px 12px rgba(50, 50, 93, .11), 0 1px 4px rgba(0, 0, 0, .08);
    background-color: #45a1ed;
    transition: all .4s;
    text-decoration: none;
}

.download:focus {
    color: white;
}

#launch .download > .icon {
    color: white;
    margin-right: 8px;
}

.windows {
    display: block;
    margin-top: 30px;
    color: rgba(69, 68, 70, 0.6);
}

.documentation {
    font-size: 16px;
    font-weight: 400;
    margin-top: 30px;
}

.documentation .icon {
    margin-right: 8px;
}

@media screen and (max-width: 480px) {
    .download {
        width: 100%;
        display: block;
        margin: 15px 0;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    #rabix .download {
        width: 80%;
        display: block;
        margin: 15px auto;
    }
}

@media screen and (max-width: 992px) {

    #rabix .download-links {
        margin-bottom: 45px;
    }
}