/*Global*/

p {
    font-size: 18px;
    line-height: 27px;
    color: #000000;
    padding-bottom: 14px;
    font-weight: 400;
}

h1,
h2,
h3{
    margin: 0;
}

h2 {
    font-size: 48px;
    padding-bottom: 36px;
    font-weight: 200;
}

h3 {
    font-weight: 600;
    padding-bottom: 15px;
}

a {
    text-decoration: none;
    color: #7161ca;
}

a:hover {
    text-decoration: none;
    color: #5348bc;
}

img {
    background-color: transparent !important;
}

.btn-primary {
    border-radius: 8px;
    padding: 12px 24px;
    margin: 24px 0;
    background-color: #7161ca;
    border: none;
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
}

.btn-primary:hover,
.btn-primary:active {
    border: none;
    background-color: #5348bc;
}

/* Header */

.navbar-brand {
    color: white;
    font-size: 24px;
}

.navbar-brand:hover {
    color: rgba(255, 255, 255, .9);
}

.navbar {
    position: absolute;
    min-width: 100%;
    z-index: 3;
    min-height: 50px;
}

.nav > li > a {
    font-size: 12px;
    color: white;
    font-weight: 600;
}

.nav > li > a:hover {
    color: rgba(255,255,255,.8);
}
/* Hero section */

.hero-strip {
    background-image: linear-gradient(45deg, #0a1855 0, #00dac6 100%);
    padding: 120px 0 0px;
}

.hero-strip h1 {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    letter-spacing: -1px;
    margin: 0;
}

.hero-strip p {
    color: #ffffff;
    font-weight: 200;
    font-size: 24px;
    margin-bottom: 60px;
    padding-bottom: 0;
}

/*Terminal*/
.terminal-window {
    text-align: left;
    width: 600px;
    height: 360px;
    border-radius: 10px;
    margin: auto;
    position: relative;
    margin-bottom: -40px;
    z-index: 2;
    /*box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);*/
    -webkit-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -mox-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.terminal-window header {
    background: #E0E8F0;
    height: 30px;
    border-radius: 8px 8px 0 0;
    padding-left: 10px;
}

.terminal-window header .button {
    width: 12px;
    height: 12px;
    margin: 10px 4px 0 0;
    display: inline-block;
    border-radius: 8px;
}

.terminal-window header .button.green {
    background: #3BB662;
}

.terminal-window header .button.yellow {
    background: #E5C30F;
}

.terminal-window header .button.red {
    background: #E75448;
}

.terminal-window section.terminal {
    color: white;
    font-family: Menlo, Monaco, "Consolas", "Courier New", "Courier";
    font-size: 11pt;
    background: #30353A;
    padding: 10px;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    top: 30px;
    bottom: 0;
    overflow: auto;
}

.terminal-window section.terminal .typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.terminal-data {
    display: none;
}

.terminal-window .gray {
    color: gray;
}

.terminal-window .green {
    color: green;
}

/*Sections*/

.intro {
    background-image: linear-gradient(to bottom right,#062433,#1b4960,#447b84);
}
.intro-icon {
    display: inline-block;
    vertical-align: top;
    padding: 0;
    margin-right: 20px;
    width: 40px;
}
.intro span.icon {
    font-size: 40px;
    color: rgba(255, 255, 255, 0.8);
}
.intro h4 {
    font-size: 15px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 500;
    margin: 0 0 12px;
}
.intro p {
    font-size: 15px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.8);
    padding: 0;
    margin: 0;
}

#mission {
    background: linear-gradient(to bottom right, #00104c, #5a476b 50%, #995083);
    color: #ffffff;
}

#mission p {
    color: rgba(255,255,255, .8);
}

#mission b {
    color: white;
}

.section-gray {
    background-color: #f6f9fc;
    padding: 60px 0 120px;
    border-top: 1px solid #E6E9ED;
}
.section-gray .intro-icon {
    width: 120px;
    height: 120px;
    padding: 0;
    margin-right: 0;
    border-radius: 100%;
    background-color: white;
    box-shadow: 0 6px 6px rgba(50, 50, 93, .11), 0 1px 4px rgba(0, 0, 0, .08);
    margin-top: -120px;
    border: solid 2px rgba(113, 97, 202, 0.6);
}
.section-gray span.icon {
    font-size: 60px;
    line-height: 120px;
    color: #7161ca;
    font-weight: bold;
}

.section-a {
    background-color: white;
}

/*Footer*/

footer {
    background-color: #f6f9fc;
}

footer p {
    font-size: 15px;
    line-height: 15px;
    padding: 0;
    margin: 0;
    color: #8898aa;
}

.footer-content {
    padding: 24px 0;
}

/* Rabix section */

#rabix img, #mission img {
    width: 100%;
    padding: 10%;
}

#rabix h4 {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    color: #000;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0;
}

/*--Mobile--*/

@media screen and (max-width: 480px){
    .terminal-window {
        width: 100%;
        height: 260px;
        overflow: visible;
    }
    .history {
        white-space: pre-wrap; /* css-3 */
        white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
        white-space: -pre-wrap; /* Opera 4-6 */
        white-space: -o-pre-wrap; /* Opera 7 */
        word-wrap: break-word; /* Internet Explorer 5.5+ */
    }
}